

.header{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border: 1px solid black;
    
}

.logo{
    width: 100px;
}

.nav-items > ul {
    list-style-type: none;
    display: flex;
    margin-right: 30px;
    align-items: center;
    justify-content: space-between;
}

.nav-items >ul>li{
    padding:10px ;
}

.card{
    width: 240px;
    border:1px solid black;
    padding: 10px;
    margin: 30px;
    cursor: pointer;
}
.card:hover {
    transform: scale(1.05);
}


.card >img {
    width: 100%;
}


.rastaurant-list {
    display: flex;
    flex-wrap: wrap;
}


.shimmer-card{
    width: 200px;
    height: 200px;
    background:lightgrey;
    margin : 20px;
}

.menu{
    display: flex;
}